<div class='row-fluid'>
    <div class='span12' align="center">
        <table class='table boarder=1'>
            <tbody>
                <thead>
                    <tr aria-colspan="3"><h1>Das ist die Liveshow</h1></tr>
                </thead>
                <tr ng-repeat="r in reasons"> <!-- "name" is the key/value and you get the values from the cotroller where you find "attteam". It is like a for loop -->

                    <td aria-colspan="3">{{ r.created }}</td><td>{{r.reason}}</td>
                    
                    <!-- <td>
                        <img ng-src="img/{{pc}}" alt="10.40.1.1" title="10.40.1.1"> <!--img/{{pc}}-->
                        <!-- <p>Hier ist der Name von Team A</p> {{name.attending_team}}-->
                    <!-- </td>
                    <td>
                        <img ng-src="img/{{arrow}}" alt="">
                    </td>
                    <td>
                        <img ng-src="img/{{pc}}" alt="10.40.1.1" title="10.40.1.1">
                        <p>Hier ist der Name von Team B</p> {{name.attending_team}} -->
                    <!-- </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>