{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Password Reset</h1>


    <form action="{{ url_for("passwordreset") }}" method="POST">


        {{ form.teamname.label }} {{ form.teamname() }}
        {{ form.csrf_token }}
        {{ form.submit() }}
    </form>


{% endblock %}


{% block extrajs %}
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
{% endblock %}