[program:{{ service_name }}]
directory=/home/{{ service_name }}
command=/home/{{ service_name }}/server 5001 /home/logserver/rsa_keys/pub_key.pem /home/logserver/rsa_keys/priv_key.pem
autostart=true
autorestart=true
startretries=20
startsecs=1
redirect_stderr=true
stderr_logfile=/var/log/{{ service_name }}-err.log
stdout_logfile=/var/log/{{ service_name }}-out.log
user={{ service_name }}
killasgroup=true
stopasgroup=true