[Interface]
PrivateKey = {{ lookup('file', role_path+'/files/wireguard_tmp/privatekey-'+ item[0] +'-player-' + item[1]|string )}}
Address = 10.42.{{ item[0]|replace('team','')|int }}.{{ item[1] }}/24
DNS = 10.40.{{ item[0]|replace('team','')|int }}.254

[Peer]
PublicKey =  {{ lookup('file', role_path+'/files/wireguard_tmp/publickey-server') }}

AllowedIPs = 10.42.0.{{ item[0]|replace('team','')|int }}/32, 10.39.1.1/32, 10.38.1.1/32, 10.40.{{ item[0]|replace('team','')|int }}.254{% for team_num in groups['ad_containers'] %}, 10.40.{{ team_num|replace('team','')|int }}.1/32 {% endfor %}

Endpoint = {{ ansible_default_ipv4.address }}:42{{ '%03d'|format(item[0]|replace('team','')|int) }}
