<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/logo.png">
    <title>Albsig Bank - Home</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='simple-sidebar.css') }}">
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"><b>Albsig Bank</b></div>
            <div class="list-group list-group-flush">
                <a href="{{ url_for('account') }}" class="list-group-item list-group-item-action bg-light">Dashboard</a>
                <a href="{{ url_for('contact') }}" class="list-group-item list-group-item-action bg-light">Contact</a>
                <a href="{{ url_for('notes') }}" class="list-group-item list-group-item.active bg-light">Notes</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="sidebar-heading">Notes</div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <br> {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
                {% endfor %} {% endif %} {% endwith %}
                <div class="card bg-primary text-white">
                    <div class="card-body">{{ current_user.notes }}</div>
                </div>
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <br><br>
                        <div class="form-group">
                            {{ form.notes(class="form-control form-control-lg") }}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.add(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
</body>

</html>
